*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-header{
    width: 100%;
    height: 200px auto;
}
/* .tieude{
    text-align: center;
    font-size: 2.4rem;
    font-family: sans-serif;
    position: absolute;
    
   
}
.img img{
    width: 100%;
    position: relative; */

.menu{
    max-width: 100%;
    height: 80px auto;
    background-color: #32ff7e;
    position: relative;

}

.menu ul{
    list-style: none;
    text-align: center;
}
.menu ul li{
   
    display: inline-block;
    margin-left: 30px;
}
.menu ul li a{
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-family: sans-serif;
    width: 200px;

    line-height: 80px;  
}


#icon{
    float: right;
    font-size: 28px;
    color: rgb(235, 10, 10);
    padding-right: 100px;
    display: block;
    width: 30px;
    height: 20px;
}
.menu ul li:hover{
     /* background: #2980b9; */
     border-radius: 5px;
}
.content{
    width: 100%;
    height: 100px;
    /* background-color: rgb(105, 110, 110); */
    justify-content: space-around;
}

 h1{
    float: left;
    margin-left: 20px;
    height: 70px auto;
    padding-top: 25px;
}
.input{
    float: right;
    margin-right: 80px;
    padding-top: 40px;
    height: 50px auto;
   
}
.input #search-product{
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #2980b9;
}
.input #submit{
    width: 60px;
    height: 30px;
    border-radius: 5px;
}
.sanpham-noibat{
    width: 90%;
    height: 400px auto;
    background-color: #eff5f2;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    padding: 15px 0;
    
}
.sapxep{
    padding-top: 5px;
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: #ebeef0;  
}

.sapxep ul li {
   display: inline-block;
   margin-left: 40px;
   padding-top: 20px;
}
.sapxep .select{
    font-size: 18px;
}
.sapxep ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    width: 100px;
    height: 80px;
    padding-top: 5px;  
}
/* .sapxep ul li a:hover{
    
} */
#select{
    margin-left: 10px;
    border-radius: 2px;
}
.product{
    margin: 5px 10px;
    padding-top: 5px;
    max-width: 300px;
    height: 350px;
    background-color: #bdc3c7;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 3px;
    
}

.product-view{
    width: 90%;
    margin: auto;
    text-align: center;  
}
.product-view h2{
    padding-top: 10px;
    font-size: 1.8rem;
}
.image{
    width: 200px;
    height: 200px;
    margin: 10px 20px;
    text-align: center;
    border: 1px solid #34495e;
    border-radius: 3px;
}
.sku{
    text-align: center;
    font-family: sans-serif;
    color: #2980b9;
    padding-top: 5px;
}
.price{
    color: red;
    margin:auto;
}
.stock{
    padding-top: 5px;
    /* float: left; */
    padding-left: 2px;
}
.view{
    float: right;
    padding-top: 5px;
    padding-right: 15px;
}

.giohang{
    width: 50%;
    height: 30px;
    padding-top: 5px;
    background: #2980b9;
    border-radius: 7px;
    margin-left: 10px;
}
.giohang .them{
    text-decoration: none;
    font-family: sans-serif;
}
.giohang:hover{
    background: #2ecc71;
}

.nav-page{
    width: 100%;
    height: 50px;
}
.nav-box-page{
    width: 300px;
    height: 40px;
    float: right;
    border: 1px solid #34495e;
    margin-right: 60px;
    padding-top: 5px;
    border-radius: 5px;
}
.pagination{
    text-align: center;
}
.pagination li{
    display: inline-block;
    padding-top: 3px;
    list-style: none;
    font-size: 1.4rem;
    margin: 0 10px;
    text-align: center;
}
.pagination li a{
    text-decoration: none;
}
/* .image:hover{
     transform: ;
} */
footer{
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: #2ecc71;
    /* position: fixed; */
}
h3,p{
    padding-top: 10px;
    text-align: center;
}
